In [1]:
'akshansh'

'akshansh'

In [2]:
name = 'akshansh'
x = 10
y =3
z = 3.14

In [3]:
del name

## operators
- Arithmetic operators
- Assignment operatotrs
- Comparison operators
- Logical operators
- Identity operators
- Membership operators

In [4]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

13
7
30
3.3333333333333335
3
1
1000

In [5]:
a = x + y
a += 1
a -= 1
a *= 2
a /= 5
print (a)

5.2

In [6]:
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [7]:
x>y and y<10

True

In [8]:
not x>y

False

In [9]:
fruits=['Apple','Banana','Cherry']
print('Apple' in fruits)

True

In [10]:
print('grapes' in fruits)

False

In [11]:
f=['Apple','Banana','Cherry']
fruits == f

True

In [12]:
fruits is f

False

In [13]:
x=10
y=10

print(x==y)
print(x is y)

True
True

#I.O

##I/O

## I/O

In [14]:
name = input("enter your name:")

In [15]:
city = input("enter your city")

In [16]:
age = input("enter your age")

In [17]:
print(name,city,age)

Akshansh Lucknow 21

In [18]:
x=10
print(type(x))

<class 'int'>

In [19]:
x=float(x)
print(x,type(x))

10.0 <class 'float'>

In [20]:
x=str(x)
print(x,type(x))

10.0 <class 'str'>

In [21]:
x=bool(x)
print(x,type(x))

True <class 'bool'>

In [22]:
x=str(x)
print(x,type(x))

True <class 'str'>

In [23]:
x=int(x)
print(x,type(x)) #Not Possible

ValueError: invalid literal for int() with base 10: 'True'

In [25]:
x=int(input('enter a number for A:'))
y=int(input('enter a number for B:'))

In [26]:
print(x+y)

8

In [28]:
print(name,age,city, sep='\n')

Akshansh
21
Lucknow

In [29]:
print(name,age,city, sep=',')

Akshansh,21,Lucknow

In [31]:
print(x,end=' , ')
print(y)

3 , 5

In [34]:
print(f'I live in {city}')

I live in Lucknow

In [38]:
print(f'x={x},y={y}')
print(f'{x}**{y} =')
print(f'{x}+{y}')

x=3,y=5
3**5
3+5