#### List
- indexed, ordered, mutable, allows duplicate element, heterogeneous, '[]', 'list()'
#### Tuple
- indexed, ordered, **immutable**, **does not allows duplicate element**, heterogeneous, '()', 'tuple()'
#### Set
- **unordered**, mutable, **does not allows duplicate element**, heterogeneous, '{}', 'set()'
#### Dictionary

- **unordered**, mutable, **does not allows duplicate element**, heterogeneous, key:value pairs, '{}', 'dict()'
####

# List
- Creation
- Indexing and slicing
- Methods (11 methods)
- Lists comprehension

In [1]:
x=[1,2,3,4]
names=['john','paul','george','ringo']
mix=[1,'john',3.14,True]
nested=[1,2,3],[4,5,6],[7,8,9]
mt=[]   #empty list
cloned=[1,2,3]*5 #repeat list 5 times
words='this is sparta'.split()
chars=list('Alexander')

In [2]:
print(x[0])
print(x[-1])

1
4

In [4]:
print(x[0])
print(x[-1])
x[0]=100 #updating value at index 0
print(x)

100
4
[100, 2, 3, 4]

In [5]:
chars[:5]

['A', 'l', 'e', 'x', 'a']

In [6]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

In [ ]:
#Methods are linked to a variable.

- adding
    - append () - adds an element to the end of the list.
    - extend () - adds all elements of one list to another list.
    - insert () - adds an element at a specific index.
- removing
    - remove ()
    - pop ()
    - clear ()
- Utility methods
    - count ()
    - index ()
    - sort ()
    - reverse ()
    - copy ()

In [7]:
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 6, 3]

In [8]:
a=[11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 6, 3, 11, 12, 13]

In [9]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 6, 100, 500, 3, 11, 12, 13]

In [11]:
#Write a program to take 10 values from user and fill in the list

udata=[]
for i in range(10):
    x=input('enter value:')
    udata.append(x)
print(udata)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [13]:
if '5' in udata:
    udata.remove('5')
print(udata)

['0', '1', '2', '3', '4', '6', '7', '8', '9']

In [15]:
udata.remove('9') if '9' in udata else print('9 not found')

9 not found

In [16]:
x=[1,2,3,4,5]
print(x.pop()) #pops last element

5

In [17]:
x=[1,2,3,4,5]
print(x.pop(2))

3

In [18]:
udata.clear()
print(udata)

[]

In [19]:
del x #Deletes whole list

In [20]:
a=[1,2,3,1,1,2,2,2,1]
print(a.count(1))

4

In [21]:
names.sort()
print(names)

['george', 'john', 'paul', 'ringo']

In [22]:
names.reverse()
print(names)

['ringo', 'paul', 'john', 'george']

In [24]:
names.index('john')

2

In [27]:
#Write a program to create a fibonacci series of 10 numbers and store it in a list:-
#[0,1,1,2,3,5,8,13,21,34]

x=[0,1]
for i in range(10):
    x.append(x[-2] + x[-1])
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [1]:
x=[1,2,3,4,5]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [2]:
names=['Peter Parker','Bruce Wayne','Clark Kent']
fnames=[]
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['Peter', 'Bruce', 'Clark']

In [4]:
x=[1,2,3,4,5,6,7,8,9,10] #Wap to px2rint the even numbers from the list of 10 numbers.
x2=[]
for i in x:
    if i%2==0:
        x2.append(i)
print(x)
print(x2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

- Comprehension syntax
newlist=[expression for item in iterable if condition==True]

In [6]:
x2=[i**2 for i in x]
print (x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
lnames=[nm.split()[-1] for nm in names]
print (lnames)

['Parker', 'Wayne', 'Kent']

In [8]:
x=[1,2,3,4,5,6,7,8,9,10,11,12]
xevens=[i for i in x if i%2==0]
print(xevens)

[2, 4, 6, 8, 10, 12]

In [1]:
x=['1','2','3','','4','5','6','','10']
x_clean=[int(i) for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 4, 5, 6, 10]

In [ ]:
files=['1.jpg','3.png','2.jpg','4.tif','5.jpg','10.png']
jpg_files=[file for file in files ]

In [2]:
jpg_files=[]
for file in files:
    if file.endswith('jpg'):
        jpg_files.append(file)
print(jpg_files)

NameError: name 'files' is not defined

In [4]:
y=[1,2,3,4,5,1,2,3,5,6,1,2,2,3,3,5,5,6,7,3,3,6,6,7,3,2,1,3,5]
#Take all odd number,get their cube and print in new list

odd=[i**3 for i in y if i%2!=0]
print(odd)

[1, 27, 125, 1, 27, 125, 1, 27, 27, 125, 125, 343, 27, 27, 343, 27, 1, 27, 125]