for

for temp_var in iterable:
    statement 1

    ...
    statement n

iterables are string,list,tuple,set,dict,generators etc

In [5]:
nums=[1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i**2)

1
529
25
36
9
36
441
36
36

- enumerate
- zip

In [6]:
names=['john','jane','jack','jill']
for idx,name in enumerate(names):
    print(idx,name)

0 john
1 jane
2 jack
3 jill

In [11]:
x=[2,4,6,8,10]
y=[1,3,5,7,9]
z=[3,6,9,12,15]
for i,j,k in zip(x,y,z):
    print(i*j+k)

5
18
39
68
105

In [13]:
movies=['Interstellar','The Martian']
rating=[8.6,8.0]

for name,star in zip(movies,rating):
    print(f'{name:20}{star} âœ¨' )

Interstellar        8.6 âœ¨
The Martian         8.0 âœ¨

In [5]:
x=[1,2,2,3,0,2,2,1,2,2,3,0,4,5,1,2,4,5]
for i in x:
    if i==0:
        break
    print(i,end=' ')

1 2 2 3

In [4]:
x=[3,2,2,1,2,5,6,7,3,1,2,2]
for i in x:
    if i==0:
        break
    print(i,end=' ')
else:
    print('loop completed')

3 2 2 1 2 5 6 7 3 1 2 2 loop completed

In [10]:
num=int(input('Enter a number'))
for i in range(2,num):
    print(f'{num}%{i}={num%i}')
    if num%i==0:
        print('Not Prime')
        break
else:
        print('Prime number')

15%2=1
15%3=0
Not Prime

In [11]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num,end=' ')

1 2 3 5 1 2 23 3 1 2 2 3 3

In [14]:

odd_sum=0
for num in x:
    if num is not None and num%2!=0:
        odd_sum += num
print(odd_sum)

43

Infinite loop

In [17]:
while True:
    user=input('ðŸ˜Š enter username:')
    password=input('ðŸ§¨ enter password:')
    if user=='admin':
        if password=='secret':
            print('ðŸŽ‡ Welcome Admin')
            break
        else:
            print('ðŸ’¥ wrong password')
    else:
        print('ðŸ’¥ wrong username')

ðŸŽ‡ Welcome Admin